@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btnPrimary {
		@apply bg-[#1890ff] rounded-md;
	}
	.btnDefault {
		@apply rounded-md;
	}
	.pageContainer {
		@apply container mx-auto px-6 py-14;
	}
	.sectionContainer {
		@apply bg-white rounded-lg container mx-auto py-3 px-6 shadow-md;
	}
	.sectionPrimary {
		@apply bg-gray-100 dark:bg-gray-900;
	}
	.centerAll {
		@apply flex flex-col justify-center items-center;
	}
	.centerAbsolute {
		@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
	}
	.text-accent {
		@apply text-blue-400 dark:text-blue-300;
	}
	.text-high {
		@apply text-gray-900 dark:text-gray-100;
	}
	.text-medium {
		@apply text-gray-700 dark:text-gray-200;
	}
	.text-light {
		@apply text-gray-500 dark:text-gray-400;
	}
	.text-lightest {
		@apply text-gray-400 dark:text-gray-500;
	}
}

html,
body {
	background-color: #e5e7eb;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
section {
	margin-left: 16rem;
}
@media only screen and (max-width: 640px) {
	section {
		margin-left: 0;
	}
}
.ant-carousel .slick-dots li button {
	background-color: blue !important;
	margin-top: 30px !important;
}
.ant-table-thead > tr > th {
	background-color: #1890ff;
	color: white;
}
.ant-table-thead > tr > th:hover {
	background-color: #0780ee !important;
}
.trainingCard .ant-card-body {
	padding: 0;
}
